typer==0.12.5
rich==13.7.1
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-settings==2.4.0
SQLAlchemy==2.0.32
Pillow>=11.1.0
requests==2.32.3
pillow-heif>=1.1.0
imageio-ffmpeg==0.4.9

# dev/test
pytest>=8.0.0
